<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955745601928-10tpc48stffksv2v3g0fnudmjhp67al7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955745601928-10tpc48stffksv2v3g0fnudmjhp67al7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>955745601928-el07e8ngc7agnrsl1sef9hhijagf750m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCj-A4Eki2G96TKRLIXiTDcItGCxal2i4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>955745601928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.withconi</string>
	<key>PROJECT_ID</key>
	<string>withconi</string>
	<key>STORAGE_BUCKET</key>
	<string>withconi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955745601928:ios:17b44c05a3bfdcf069923d</string>
</dict>
</plist>