<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955745601928-545f5irolb2j5vkr06p0ptlhv6t4pqeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955745601928-545f5irolb2j5vkr06p0ptlhv6t4pqeo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>955745601928-07d4p9p3ut5b6pd85tqtup9b3d150lrt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCj-A4Eki2G96TKRLIXiTDcItGCxal2i4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>955745601928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.yellowtoast.withconi</string>
	<key>PROJECT_ID</key>
	<string>withconi</string>
	<key>STORAGE_BUCKET</key>
	<string>withconi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955745601928:ios:0ebe73031868ecb069923d</string>
	<key>DATABASE_URL</key>
	<string>https://withconi-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>